body {
    margin: 0;
    padding: 0;
}

.engineer-header-container {
    .p-menubar-root-list {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50px;
        column-gap: 100px;
    }

    .p-menubar {
        color: var(--primary-color);
        position: fixed;
        width: 100%;
        z-index: 1000;
        /* color: var(--primary-color-text); */
    }

    .p-menuitem-link,
    .p-menuitem-icon,
    .p-menuitem-text {
        color: var(--primary-color);
        font-size: 20px;
    }
}

.admin-header-container {
    .p-menubar-root-list {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50px;
        column-gap: 100px;
    }

    .p-menubar {
        color: var(--primary-color);
        /* color: var(--primary-color-text); */
    }

    .p-menuitem-link,
    .p-menuitem-icon,
    .p-menuitem-text {
        color: var(--primary-color);
        font-size: 20px;
    }
}

.client-header-container {

    .p-menubar-root-list {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50px;
        column-gap: 100px;
    }

    .p-menubar {
        position: fixed;
        width: 100%;
        z-index: 1000;
        color: var(--primary-color);
        /* color: var(--primary-color-text); */
    }

    .p-menuitem-link,
    .p-menuitem-icon,
    .p-menuitem-text {
        color: var(--primary-color);
        font-size: 20px;
    }
}

.admin-login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
    row-gap: 20px;
}

.client-login-container {

    .login,
    .signup,
    .faq-form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        flex-direction: column;
        row-gap: 20px;
    }

    .signup {
        margin-top: 100px;
    }

    .login {
        margin-top: 200px;
    }
}

.login-text {
    font-size: 20px;
}

.create-account {
    text-decoration: none;
    color: #334155;
    cursor: pointer;
}

.create-account:hover {
    color: #10b981;
    transition: .5s;
}

.admin-tab-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}


.p-tabmenu-nav {
    column-gap: 30px;
}

.engineer-data-table,
.client-data-table,
.project-data-table {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10px;
}

.client-data-table {
    .card {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.client-home {
    display: flex;
}

.client-home {
    .p-menu {
        height: 100vh;
    }

    .p-menu-list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}

.list-projects,
.plans {
    align-items: center;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.client-details {
    .card {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.banner-register {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-left: 5px;
}

.banner {
    margin-top: 70px;
    background-image: url('/images/dh.jpg');
    background-size: cover;
    /* Adjust as needed */
    background-position: center;
    width: 60%;
    height: 90vh;
}

.register {
    width: 40%;
    height: 90vh;

    .stick {
        margin-top: 50px;
    }
}

.faq {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-seperate {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}