.admin-header-container {
    .p-menubar-root-list {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
    }
}

.admin-login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
    row-gap: 20px;
}

.client-login-container {

    .login,
    .signup {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        flex-direction: column;
        row-gap: 20px;
    }
}

.login-text {
    font-size: 20px;
    color: #10b981;
}

.create-account {
    text-decoration: none;
    color: #334155;
    cursor: pointer;
}

.create-account:hover {
    color: #10b981;
    transition: .5s;
}

.admin-tab-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}


.p-tabmenu-nav {
    column-gap: 30px;
}

.engineer-data-table,
.client-data-table,
.project-data-table {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10px;
}

.client-home {
    display: flex;
}

.client-home {
    .p-menu {
        height: 100vh;
    }

    .p-menu-list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}